<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Thư cảm ơn phản biện</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 20px;
      background-color: #f6f6f6;
      font-family: Arial, sans-serif;
    "
  >
    <div
      style="
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      "
    >
      <h2 style="color: #333333">
        Cảm ơn Thầy/Cô đã đánh giá xét duyệt đề tài KHCN CB-GV-NV cấp trường UEF
      </h2>

      <p style="color: #555555; line-height: 1.6">
        Đề tài KHCN cấp trường có tiêu đề: "<strong>{{tenBaiBao}}</strong>",
      </p>

      <p style="color: #555555; line-height: 1.6">
        Chủ nhiệm: "<strong>{{hoTenChuNhiem}}</strong>",
      </p>

      <p style="color: #555555; line-height: 1.6">
        Kính gửi <strong>Ông/Bà {{hoTenPhanBien}}</strong>,
      </p>

      <p style="color: #555555; line-height: 1.6">
        Trân trọng cảm ơn Thầy/Cô đã dành thời gian phản biện bản thảo đề tài
        nêu trên.
      </p>

      <p style="color: #555555; line-height: 1.6">
        Những ý kiến chuyên môn và nhận xét chi tiết của Thầy/Cô không chỉ hỗ
        trợ Hội đồng khoa học trong việc đưa ra quyết định khách quan mà còn
        giúp chủ nhiệm và các thành viên nghiên cứu hoàn thiện nội dung và phương
        pháp thực hiện đề tài một cách tốt nhất.
      </p>

      <p style="color: #555555; line-height: 1.6">
        Sự tận tâm của Thầy/Cô trong việc xem xét kỹ lưỡng từng bản thảo, đánh
        giá tính phù hợp và chất lượng chuyên môn là yếu tố then chốt để Trường
        UEF duy trì quy trình phản biện khoa học nghiêm túc, hiệu quả và đáp ứng
        các chuẩn mực của hoạt động nghiên cứu khoa học chất lượng cao.
      </p>

      <p style="color: #555555; line-height: 1.6">
        Chúng tôi rất trân trọng sự đồng hành của Thầy/Cô trong các hoạt động KHCN
        của Nhà trường và hy vọng tiếp tục nhận được sự hợp tác trong thời gian
        tới. Kèm theo thư này là giấy chứng nhận, như một lời tri ân chân thành
        của Hội đồng khoa học và Phòng KHCN-DAQT đối với đóng góp quý báu của
        Thầy/Cô trong đợt xét duyệt đề tài KHCN vừa qua.
      </p>

      <p style="color: #555555; line-height: 1.6">
        Mọi thông tin thắc mắc, Quý Thầy Cô liên hệ qua email: 
        <a href="mailto:khcn@uef.edu.vn">khcn@uef.edu.vn</a>
      </p>

      <p style="color: #555555; line-height: 1.6">
        Trân trọng,<br />
        Hội đồng khoa học
      </p>

      <p style="line-height: 1.6; text-align: center;">
        <img src="https://assets-khcn.codex.io.vn/cert?text={{hoTenPhanBien}}&template=https://assets-khcn.codex.io.vn/certificates/template/giay-chung-nhan-tham-gia-phan-bien-de-tai-cap-truong-2025-2026.png&x=1611&y=1275&s=74&c=0062cc" alt="Giay chung nhan" style="max-width: 100%; height: auto; border-radius: 6px; display: block; margin: 10px auto;">
      </p>
    </div>
  </body>
</html>
