<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Nhắc nhở nghiệm thu bài báo</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 20px;
      background-color: #f6f6f6;
      font-family: Arial, sans-serif;
    "
  >
    <div
      style="
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      "
    >
      <h2 style="color: #333333">
        Thư nhắc nhở nghiệm thu đề cương NCKH cấp trường UEF của CB-GV-NV
      </h2>

      <p style="color: #555555; line-height: 1.6">Kính gửi quý hội đồng,</p>

      <p style="color: #555555; line-height: 1.6">
        Quý Thầy Cô hiện đang tham gia nghiệm thu cho đề cương NCKH có tiêu đề:
      </p>

      <p style="color: #333333; font-weight: bold">"{{tenBaiBao}}"</p>

      <p style="color: #555555; line-height: 1.6">
        P. KHCN-DAQT (UEF) xin trân trọng nhắc về việc hoàn tất quá trình nghiệm
        thu đề cương NCKH mà Quý Thầy Cô đã nhận trong thời gian sớm nhất để
        đảm bảo tiến độ xét duyệt của Hội đồng khoa học.
      </p>

      <div style="text-align: center; margin: 30px 0">
        <a
          href="{{APP_URL}}"
          style="
            display: inline-block;
            padding: 12px 25px;
            font-size: 16px;
            text-decoration: none;
            border-radius: 5px;
            color: #ffffff;
            background-color: #007bff;
          "
        >
          Mở trang phản biện
        </a>
      </div>

      <p style="color: #555555; line-height: 1.6">
        Trân trọng cảm ơn sự đóng góp quý báu của quý vị.<br />
        Hội đồng khoa học
      </p>
    </div>
  </body>
</html>
