<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <!-- IISNODE handlers -->
    <handlers>

      <add name="iisnode-mailer"
           path="mailer/index.js"
           verb="*"
           modules="iisnode" />

      <add name="iisnode-assets"
           path="assetskhcn/app.js"
           verb="*"
           modules="iisnode" />

    </handlers>

    <rewrite>
      <rules>

        <!-- ========================= -->
        <!-- MAIL API -->
        <!-- ========================= -->
        <rule name="Mailer API" stopProcessing="true">
          <match url="^v1/send-email(/.*)?$" />
          <action type="Rewrite" url="mailer/index.js" />
        </rule>

        <!-- ========================= -->
        <!-- ASSET SERVICE -->
        <!-- ========================= -->

        <!-- upload -->
        <rule name="Upload API" stopProcessing="true">
          <match url="^(upload|avatar-upload|certificate-upload)$" />
          <action type="Rewrite" url="assetskhcn/app.js" />
        </rule>

        <!-- delete -->
        <rule name="Delete API" stopProcessing="true">
          <match url="^(files|avatars|certificates)(/.*)?$" />
          <action type="Rewrite" url="assetskhcn/app.js" />
        </rule>

        <!-- cert generate -->
        <rule name="Cert API" stopProcessing="true">
          <match url="^cert(/.*)?$" />
          <action type="Rewrite" url="assetskhcn/app.js" />
        </rule>

        <!-- get -->
        <rule name="Get API" stopProcessing="true">
          <match url="^(uploads|avatars|certificates)(/.*)?$" />
          <action type="Rewrite" url="assetskhcn/app.js" />
        </rule>

        <!-- ========================= -->
        <!-- STATIC FILES -->
        <!-- ========================= -->

        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- ========================= -->
        <!-- REACT SPA -->
        <!-- ========================= -->

        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

    <!-- IISNODE -->
    <iisnode
      watchedFiles="web.config;mailer/*.js;assetskhcn/*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="true"
    />

    <!-- MIME -->
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest"
               mimeType="application/manifest+json" />
    </staticContent>

  </system.webServer>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

</configuration>